@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

/*-------------Base.html-----------*/

body {
    background-image: url("../images/rock-foliation-texture.jpg");
    background-repeat: cover;
    background-attachment: fixed;
    font-family: 'Barlow', 'Lato', sans-serif;
}

/*-------------Terms-----------*/

#geo-logo {
    font-size: xx-large;
}

.alphabet a {
    font-size: xx-large;
}

/*-------------Buttons-----------*/

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*-------------Flash messages-----------*/

.flash-message {
    line-height: 2;
    color: lightslategray;
}