@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

/*-------------Base.html-----------*/

body {
    background-image: url("../images/rock-foliation-texture.jpg");
    background-repeat: cover;
    font-family: 'Barlow', 'Lato', sans-serif;
}

/*-------------Terms-----------*/

#geo-logo {
    font-size: 40px;
    text-transform: uppercase;
}

.alphabet a {
    font-size: xx-large;
}

.card .card-content {
    padding: 10px;
}

/*-------------Profile-----------*/

.profile {
    padding: 10px;
}

/*-------------Buttons-----------*/

.btn {
    margin: 5px;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

/*-------------Flash messages-----------*/

.flash-message {
    line-height: 2;
    color: white;
}