@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lato&display=swap');

/*-------------Base.html-----------*/

body {
    background-image: url("../images/rock-foliation-texture.jpg");
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Barlow', 'Lato', sans-serif;
}

/*-------------Terms-----------*/

h3 {
    margin-top: 25px;
}

h5 {
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

#geo-logo {
    font-size: 40px;
    text-transform: uppercase;
}

.alphabet a {
    font-size: xx-large;
}

.card .card-content {
    padding: 10px;
}

/*-------------Profile-----------*/

.profile {
    padding: 10px;
    margin-top: 25px;
}

.card-content p {
    text-align: center;
}

/*-------------Buttons-----------*/

.btn {
    margin: 5px;
}

.btn-small {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

.btn-large:hover {
    background-color: rgb(197, 194, 194);
}

.btn-small:hover {
    background-color: rgb(197, 194, 194);
}

.btn:hover {
    background-color: rgb(197, 194, 194);
}

.fixed-action-btn {
    padding-bottom: 75px;
}

/* --- Footer Settings --- */

footer {
    height: 4rem;
    background-color: #546e7a;
    display: flex;
    margin:-80px auto 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    padding-bottom: 0;
}

.clear-footer {
    padding-bottom: 200px;
}

/*--- Error page ---*/

.error-btn {
    min-width: 135px;
}

.card-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*--- Social Media icons ---*/

.social {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.social i {
    font-size: 1.5rem;
    margin: 5px;
    padding: 5px;
    color: white;
}

.social i:hover {
    transform: scale(1.2);
}

/*-------------Flash messages-----------*/

.flash-message {
    line-height: 2;
    color: white;
}

/*-------------Media queries-----------*/

@media only screen and (max-width: 420px){
    #geo-logo {
        font-size: 30px;
    }

    .font-size {
        font-size: 15px;
    }

    .alphabet a {
        font-size: 20px;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 25px;
    }

    h5 {
        font-size: 20px;
    }
}


