{% extends "base.html" %}
{% block content %}

<h3 class="white-text grey darken-2 center-align">Add Term & Definition</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_term') }}">
        <!--Add term field-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix grey-text darken-4">
                </i>
                <input id="geology_term" name="geology_term" minlength="2" maxlength="70" type="text" class="validate" required>
                <label for="geology_term">Add Term</label>
            </div>
        </div>
        <!--Add definition field-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix grey-text darken-4">
                </i>
                    <textarea id="definition" name="definition" minlength="5" maxlength="750"  class="materialize-textarea validate" required></textarea>
                <label for="definition">Add Definition</label>
            </div>
        </div>
        <!--Submit button-->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large grey darken-2 submit-button">
                Add New Entry <i class="fas fa-plus-circle"></i></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}