<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Geodictionary</title>
</head>

<body class="background-image">

    <header>
        <!--navbar-->
        <nav class="nav-extended blue-grey darken-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('get_geoTerms') }}" class="brand-logo center" id="geo-logo">Geodictionary</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('get_geoTerms') }}">Home</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                        <li><a href="{{ url_for('add_term') }}">Add Term</a></li>
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}">Log In</a></li>
                        <li><a href="{{ url_for('register') }}">Register</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!--mobile navbar-->
        <ul class="sidenav style-sidenav center-align" id="mobile-demo">
            <!--Check if need this h4 below-->
            <li><h4 class="center-align blue-grey darken-1 white-text">Geodictionary</h4></li>
            <li><a href="{{ url_for('get_geoTerms') }}">Home</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                <li><a href="{{ url_for('add_term') }}">Add Term</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Log In</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
            {% endif %}
        </ul>
    </header>



    <section>
        <!--Flash messages will appear here-->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flash-message">
                        <h4 class="grey-text text-darken-3 teal center-align">{{ message }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>
    <!--Retrieves block content from templates-->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!--Footer Section-->
    <footer>
        <div class="container footer-container">
            <ul class="social">
                <li>
                    <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://pinterest.com" target="_blank"><i class="fab fa-pinterest"></i></a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>