{% extends "base.html" %}
{% block content %}
<br>
<!--Home page heading-->
<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h4 class="center-align">The No.1 Online Geology Dictionary</h4>
            </div>
        </div>
    </div>
</div>

<!--Alphabet links-->
<div class="row alphabet">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text center-align section table-of contents">
                <a href="#a" class="white-text">A </a>
                <a href="#b" class="white-text">B </a>
                <a href="#c" class="white-text">C </a>
                <a href="#d" class="white-text">D </a>
                <a href="#e" class="white-text">E </a>
                <a href="#f" class="white-text">F </a>
                <a href="#g" class="white-text">G </a>
                <a href="#h" class="white-text">H </a>
                <a href="#i" class="white-text">I </a>
                <a href="#j" class="white-text">J </a>
                <a href="#k" class="white-text">K </a>
                <a href="#l" class="white-text">L </a>
                <a href="#m" class="white-text">M </a>
                <a href="#n" class="white-text">N </a>
                <a href="#o" class="white-text">O </a>
                <a href="#p" class="white-text">P </a>
                <a href="#q" class="white-text">Q </a>
                <a href="#r" class="white-text">R </a>
                <a href="#s" class="white-text">S </a>
                <a href="#t" class="white-text">T </a>
                <a href="#u" class="white-text">U </a>
                <a href="#v" class="white-text">V </a>
                <a href="#w" class="white-text">W </a>
                <a href="#x" class="white-text">X </a>
                <a href="#y" class="white-text">Y </a>
                <a href="#z" class="white-text">Z </a>
            </div>
        </div>
    </div>
</div>

<!--Geodictionary-->

<div id="a" class="section scrollspy">
    <div class="card grey darken-1">
        <h3 class="white-text center-align">A</h3>
    </div>
    

    <ul class="collapsible">
        {% for geoTerm in geoTerms %}
        <li>
            <div class="collapsible-header white-text grey darken-1">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    {% if session.user|lower == geoTerm.created_by|lower %}
                        <a href="" class="btn-small green accent-4">Done</a>
                        <a href="{{ url_for('edit_term', geoTerm_id=geology_term._id) }}"
                            class="btn-small light-blue lighten-1">Edit</a>
                    {% endif %}
                </div>
                <div class="col s9">

                </div>
                <strong>{{ geoTerm.letter}}</strong>
            </div>
            <div class="collapsible-body grey lighten-2">
                <strong>{{ geoTerm.geology_term}}</strong>
                <p>{{ geoTerm.definition}}</p>
                <p><em>by: {{ geoTerm.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
